.modal-email .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.modal-email .modal-image img {
  max-width: 150px;
  height: auto;
}

.modal-email .modal-footer {
  margin-top: 1rem;
}

.p-dialog{
    background: $color-white !important;
    border-radius: $radius-md !important;
    box-shadow: $shadow-xl !important;
}
.modal-title{
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-10;
    color: $color-primary-900;
    text-align: center;
}
.modal-footer{
    .submit-button{
        background-color: $color-primary-950;
        border-color: $color-secondary-950;
        color: $color-white;
        width: 100%;
        min-width: 350px;
        border-radius: $radius-xl;
        padding: $spacing-2 $spacing-16;
        transition: background-color 0.3s, border-color 0.3s, color 0.3s;
        &:hover{
            background-color: $color-secondary-opacity-50 !important;
            border-color: $color-primary-700;
            color: $color-white;
        }
    }
}